* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.App {
  background-image: url("https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 100vh;
}

button {
  background-color: rgb(250, 137, 8);
  border: 1px solid black;
  padding: 5px;
}

/* header */

header {
  color: white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  background-color: rgb(41, 50, 77);
  padding-left: 50px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  border: black solid 0.5px;
}

header ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  padding-right: 50px;
  gap: 20px;
  align-items: center;
}

.title {
  font-weight: 300;
}

.contact-us {
  background-color: rgb(58, 75, 126);
  padding: 5px;
  border-radius: 12px;
}

/* main */

main {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: right;
}

.create-post {
  display: grid;
  width: 350px;
  gap: 15px;
  position: fixed;
  left: 70px;
  top: 20%;
  background-color: white;
  border: 1px solid #353d1688;
  padding: 50px;
}

.create-post p {
  font-size: 28px;
}

textarea {
  width: 100%;
  max-width: 500px;
  height: 130px;
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 10px;
  outline: 0;
}

/* feed */

.feed {
  padding-top: 70px;
  padding-right: 70px;
  height: 550px;
  overflow-y: scroll;
}

.user-profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.user-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #353d1688;
}

.post {
  display: grid;
  gap: 10px;
  padding: 20px;
  border-left: 0.5px solid #353d1688;
  border-right: 0.5px solid #353d1688;
  border-top: 0.5px solid #353d1688;
  background-color: white;
  margin-bottom: 30px;
}

.post p {
  width: 500px;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdd5cf;
}

::-webkit-scrollbar-thumb {
  background: #db8a7e;
}

section {
  margin-top: 70px;
}

a{
  text-decoration: none;
  color: white; 
}