* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.App {
  background-image: url("https://images.pexels.com/photos/13581883/pexels-photo-13581883.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 100vh;
}

button {
  background-color: rgb(231, 185, 128);
  border: 1px solid black;
  padding: 5px;
}

/* header */

header {
  color: white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  background-color: rgb(41, 50, 77);
  padding-left: 50px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  border: black solid 0.5px;
}

header ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  padding-right: 50px;
  gap: 20px;
  align-items: center;
}

.title {
  font-weight: 300;
}

.contact-us {
  background-color: rgb(58, 75, 126);
  padding: 5px;
  border-radius: 12px;
}

/* main */

main {
  display: grid;
  grid-auto-flow: column;
  align-items: top;
  justify-content: center;
  gap: 70px;
}

form {
  display: grid;
  width: 350px;
  gap: 15px;
  background-color: white;
  border: 1px solid #353d1688;
  padding: 20px;
  text-align: center;
  height: fit-content;
  margin-top: 60px;
}

.create-post p {
  font-size: 28px;
}

textarea {
  width: 100%;
  max-width: 500px;
  height: 130px;
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 10px;
  outline: 0;
}

/* feed */

.feed {
  height: 550px;
  overflow-y: scroll;
}

.user-profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post-image {
  width: 450px;
  height: 350px;
  object-fit: cover;
  /* justify-self: center; */
}

.user-profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #353d1688;
}

.post {
  display: grid;
  gap: 10px;
  padding: 20px;
  border-left: 0.5px solid #353d1688;
  border-right: 0.5px solid #353d1688;
  border-top: 0.5px solid #353d1688;
  background-color: white;
  margin-bottom: 30px;
  justify-content: center;
}

.post p {
  width: 450px;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(58, 75, 126);
}

section {
  margin-top: 70px;
  display: grid;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

/* sign in form */
.sign-in button {
  width: 80px;
  justify-self: center;
}

.feed a {
  color: black;
}

.singlePost {
  margin-top: 0%;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  width: fit-content;
  align-items: flex-start;
  align-content: flex-start;
  gap: 60px;
}

.post-stats {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: white;
  height: 480px;
  width: 300px;
  align-content: flex-start;
}

.comment-form {
  display: grid;
  width: 300px;
  border: none;
  align-self: flex-start;
  margin: 0;
}

.comment {
  display: grid;
  align-items: flex-start;
}

.comments-list {
  display: grid;
  gap: 5px;
  overflow-y: scroll;
}

.singleComment {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid black;
}

.user-image_comment {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

/* user profile */

.profile {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 80px;
}

.profile_user-details img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.users-posts img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.hello-user {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.like-button {
  background-color: white;
  border: none;
  width: fit-content;
  height: fit-content;
}

.searched-users_list {
  display: grid;
  gap: 10px;
}

.searched-user {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.searched-user img{
width: 40px; 
height: 40px; 
object-fit: cover;
border-radius: 50%;
}


.bookmarks-list{
  display: grid;
  gap: 15px;
}

.bookmarks{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 10px;
  align-items: center;
}
.bookmarks img{
width: 60px; 
height:60px; 
object-fit: cover;
}


.search {
  width: 150px;
  margin: auto;
  border-radius: 20px;
  color: white;
  background-color: rgb(58, 75, 126);
  border: none;
  padding: 0.3rem;
}
