* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.App {
  background-color: #f9c5bd;
  min-height: 100vh;
 
}

button {
  background-color: #fdd5cf;
  width: 70px;
  height: 20px;
  border: none;
}

/* header */

header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: stretch;
  background-color: #9bc400;
  padding-left: 50px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  /* border-bottom: black solid 0.5px; */
}

header ul{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  padding-right: 50px;
  gap: 20px; 
  align-items: center;
}

.title{
  font-weight: 300;
}

.contact-us{
  background-color: #c5f02a;
  padding: 5px;
  border-radius: 12px; 
}


/* main */

main{
display: grid;
grid-auto-flow: column;
align-items: center;
justify-content: right;
}

.create-post{
  display: grid;
  width: 350px;
  gap: 15px; 
  position: fixed;
  left: 70px; 
  top:30%;
}

.create-post p{
  font-size: 28px;
}

textarea{
  width: 100%;
  max-width: 500px;
  height: 130px;
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 10px;
  outline: 0;
}

/* feed */

.feed{
padding-top: 70px;
padding-right: 100px;
height: 700px;
overflow-y: scroll;
}

.user-profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post-image {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.user-profile{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.post{
  display: grid;
  gap: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdd5cf;
}

::-webkit-scrollbar-thumb {
  background: #db8a7e;
}